{% extends 'base.html.twig' %}
{%block body%}
<center><table border=1 class="card-title">
       <div class="card-header header-elements-inline" style="background-color:Teal">
						<h3 class="card-title" style="color:white">Listes des students</h3>

        <thead>
            <tr>
                <th colspan="5">CIN</th>
                <th colspan="5">Email</th>
                <th colspan="5">Classroom</th>
            <th colspan="5"><center>actions</center></th>
               
            
               
            </tr>
        </thead>
        <tbody>
       
        {% for student in students %}
        
            <tr>
               
                <td colspan="5">{{ student.NSC }}</td>
                <td colspan="5">{{ student.email }}</td>
                <td colspan="5">{{ student.classroom.name }}</td>

              <td colspan="5">
               
<a class="btn btn-success" href="{{ path('app_ajout_student')}}"style="width:150px" > Ajouter </a></div>
<a class="btn btn-warning"  href="{{ path('app_modifier_student', {'NSC': student.NSC}) }}"style="width:90px">Modifier</a>
<a class="btn btn-danger"  href="{{ path('app_supprimer_student', {'NSC': student.NSC}) }}"style="width:90px">Supprimer</a>
                </td>
           
                 
                </td>
            </tr>
          
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
              
        {% endfor %}
      
        </tbody>
    </table>
    </center>
    </div>
    {%endblock%}