{% extends 'base.html.twig' %}
{% block titlepage %}New student{% endblock %}
{%block body%}
 <div class="card-header header-elements-inline" style="background-color:Teal">
						<h3 class="card-title" style="color:white">Modifier un student</h3>
     
{{ form_start(form) }}
    {{ form_widget(form) }}
        <button  class="btn btn-success" style="width:100px;margin-left: 90%;position: relative;"  > <i class="icon-floppy-disk"></i> {{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
 <a class="btn btn-dark" style="width:150px" href="{{ path('app_student') }}"> <i class="icon-reply"></i>Liste des students</a></div>
 {%endblock%}