{{ classrom.id }}/{{ classrom.name }}


<h2 style="color: greenyellow"> Students of {{ classrom.name }}</h2>
{%  for i in students %}
    nsc: {{ i.nsc }}
    username: {{ i.username }}
    <br>
{% endfor %}