{% extends 'base.html.twig' %}
{%block body%}
<center><table border=1 class="card-title">
       <div class="card-header header-elements-inline" style="background-color:Teal">
						<h3 class="card-title" style="color:white">Listes des Clubs</h3>

        <thead>
            <tr>
                <th colspan="5">ID</th>
                <th colspan="5">Name</th>
                <th colspan="5">Description</th>
            <th colspan="5"><center>actions</center></th>
               
            
               
            </tr>
        </thead>
        <tbody>
       
        {% for club in clubs %}
        
            <tr>
               
                <td colspan="5">{{ club.id }}</td>
                <td colspan="5">{{ club.name }}</td>
                <td colspan="5">{{ club.description }}</td>
              <td colspan="5">
               
<a class="btn btn-success" href="{{ path('app_ajout_club') }}"style="width:150px" > Ajouter Club</a></div>
<a class="btn btn-warning"  href="{{ path('app_modifier_club', {'id': club.id}) }}"style="width:90px">Modifier</a>
<a class="btn btn-danger"  href="{{ path('app_supprimer_club', {'id': club.id}) }}"style="width:90px">Supprimer</a>

                </td>
           
                 
                </td>
            </tr>
          
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
              
        {% endfor %}
      
        </tbody>
    </table>
    </center>
    </div>
    {%endblock%}